@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Colors - Dark Mode */
    --color-dark-background: #101010;
    --color-dark-background-alt: #202020;
    --color-dark-primary: #f9fafb;
    --color-dark-primary-alt: #e5e7eb;
    --color-dark-secondary: #d1d5db;
    --color-dark-secondary-alt: #9ca3af;
    --color-dark-text: #f9fafb;
    --color-dark-text-alt: #f2f2f2b3;
    --color-dark-tertiary: #374151;
    --color-dark-shadow: #646464;
    --color-dark-glass-color: #c0c0c021;
    --color-pure-white: #ffffff;
    --color-dark-radial-initial: #2f2e2e69;
    --color-dark-radial-finish: #d2d2d2a6;
    --color-dark-grey: #a1a1a152;
  
    /* Font Sizes */
    --font-*: initial;

    /* screen size*/
    --breakpoint-xs: 20rem;
}

@layer utilities {
    .bg-noise {
      background-image: url("/background.webp");
      width: 100%;
      background-size: 128px;
      background-repeat: repeat;
      opacity: 0.3;
      border-radius: 0px;
    }

    .bg-noise-container {
        flex: none;
        height: 100%;
        left: 0;
        opacity: 0.2;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .header-effect {
        border-radius: 50px;
        border: 2px solid rgb(51, 51, 51);
    }

    .shadows {
        box-shadow: rgb(51, 51, 51) 0px 24px 70px -19px;
        -webkit-backdrop-filter: blur(1.5px);
        backdrop-filter: blur(4.5px);
        background-color: rgba(15, 15, 15, 0.05);
    }

    .heading-font {
        font-family: 'Montaga', serif;
    }
      
    .slow-spin {
    animation: spin 3s linear infinite;
    }
    
    .hanging-image {
        background-image: url("/hang-image.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: 6rem;
        width: 16.5rem;
    }

    .profile-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 17.5rem;
        width: 17.5rem;
        border-radius: 10px 10px 90% 0px;
        background-color: var(--color-dark-background);
    }

    @keyframes sway {
        0%, 100% {
          transform: perspective(800px) rotateX(0deg);
        }
        50% {
          transform: perspective(800px) rotateX(8deg);
        }
    }
    
    .sway-animation {
        transform-origin: top center;
        animation: sway 4s ease-in-out infinite;
    }

    .perspective-card {
        transform-style: preserve-3d;
    }
}

html {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: clamp(16px, 1.3vw, 30px);
}

body {
    margin: 0;
    padding: 0;
}

button:hover, a:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
    
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(140, 140, 140, 0.9); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}